.carouselBox{
    width: 1100px;
    aspect-ratio: 2/1;
}
#activePhoto > img{
    width: 850px;
    object-fit: cover;
    height: 100%;
}
#activePhoto{
    height: 100%;
}

.smallone{
    width: 100%;
    height: calc(100% / 6);
    object-fit: cover;
    aspect-ratio: 3/1;
    cursor: pointer;
    opacity: 0.7;
}
.activeImageOpacity{
    opacity: 1;
}
.btn-up,
.btn-down{
    transform: translate(-50%);
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2px 5px;
    border-radius: 50%;
    left: 50%;
    cursor: pointer;
    z-index: 1;
}

.btn-up{
    top: 10px;
}
.btn-down{
    bottom: 10px;
}

#title{
top: 0;
right: 0;
left: 0;
text-align: end;
padding: 10px 20px 10px;
}
#description{
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
}
#description, #title{
    background-color: rgba(255, 255, 255, 0.05);
}
